body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100svh;
}

.header {
    padding: 15px;
    background-color: cornflowerblue;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.chat {
    flex-grow: 1;
    overflow: auto;
    padding: 15px;
}

.footer,
.header {
    padding: 15px;
    background-color: cornflowerblue;
    color: white;
}